@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Kameron|Open+Sans|Roboto');

* {
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px;
	font-family: 'Fira Sans', serif;
}
h1 {
	color: #000;
	font-family: 'Roborto', serif;
	font-weight: bold;
	font-size: 2.25em;
	float: left;
	padding-left: 25px;
}
h2 {
	color: #000;
	font-size: 4em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: .05em
}
hr {
	width: 15%;
	margin: 2em auto;
	text-align: center;
}
h3 {
	font-size: 1.5em;
}
p {
	font-size: 1.5em;
}
a {
	color: inherit;
	text-decoration: none;
}
input:focus {
	outline: 0;
}
header {
	padding: 1em;
	overflow: auto;
}
figure {
	padding: 1em;
	background-color: #116466;
}
figure a {
	font-size: 2.25em;
	font-weight: bold;
}
nav {
	text-align: center;
	padding: .5em;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

nav a {
	font-size: 2em;
	text-decoration: none;
	font-variant: small-caps;
	margin: 0 1.5em;
}
aside {
	display: block;
	padding: 20px 30px;
}
footer {
	padding: 2em;
	background-color: #F2F2F1;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center; 
}
footer a {
	font-size: 1em;
	padding-left: 1em;
}
footer a:hover {
	text-decoration: underline;
}
footer p {
	display: inline;
	font-size: 1em;
}
.wrapper {
	max-width: 1500px;
	width: 100%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.search {
	float: left;
	overflow: hidden;
	border: 1px solid black;
	padding: .25em;
	margin: 0 .75em;
}
.search_term {
	font-size: 1em;
	border: 0px; 
}
.search_term:focus {
	border: none;
}
.search_button {
	font-size: 1em;
	cursor: pointer;
	background-color: #fff;
	border: none;
}
.main_section {
	margin-top: 2em;
}
.product_tile {
	display: inline-block;
	margin: 1em;
	text-align: center;
}
.product_tile img {
	max-width: 250;
	width: 100%;
}
.product_tile a {
	display: block;
	margin-bottom: .75em;
	font-size: 1.25em;
	width: 250px;
}
.product_grid {
	margin: 20px auto;
	text-align: center;
	width: 80%;
}
#accountbar {
	text-align: right;
	display: block;
	float: right;
	margin-right: 1em;
	margin-top: .4em;
}
#accountbar a {
	display: inline-block;
	margin: 0 .5em;
	padding-top: .4em;
}
#accountbar a:hover {
	text-decoration: underline;
}
#hero_image {
	float: left;
	padding-top: 20px;
	padding-left: 300px;
	width: 100%;
	width: 300px;
}
#call_to_action {
	font-size: 4em;
	padding: 1em;
	margin-top: 100px;
	float: left;
	width: 40%;
}

